<?xml version="1.0"?>
<configuration xmlns:xmu="urn:msbuildcommunitytasks-xmlmassupdate">
  <appSettings>
    <add xmu:key="key" key="SomeSetting" value="Dev Some Setting"/>
  </appSettings>
  <sitecore>
    <settings>
      <setting xmu:key="name" name="MailServer" value="localhost" />
      <setting xmu:key="name" name="IgnoreUrlPrefixes" value="/Coveo/Anonymous/|/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing" />
    </settings>
    <sc.variable name="dataFolder" value="C:\sites\sugdemo\Data" />

    <sites>
      <site xmu:key="name" name="website" hostName="local.sugdemo.com" targetHostName="local.sugdemo.com" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/home" startItem="/" database="master" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" />
    </sites>
  </sitecore>

  <log4net>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>