<?xml version="1.0"?>
<connectionStrings xmlns:xmu="urn:msbuildcommunitytasks-xmlmassupdate">
  <add xmu:key="name" name="core" connectionString="user id=sa;password=-0o-0o-0o;Data Source=WIN-QO9SIABPV1Q;Database=sugdemoSitecore_Core"/>
  <add xmu:key="name" name="master" connectionString="user id=sa;password=-0o-0o-0o;Data Source=WIN-QO9SIABPV1Q;Database=sugdemoSitecore_Master"/>
  <add xmu:key="name" name="web" connectionString="user id=sa;password=-0o-0o-0o;Data Source=WIN-QO9SIABPV1Q;Database=sugdemoSitecore_Web"/>
  <add xmu:key="name" name="analytics" connectionString="user id=sa;password=-0o-0o-0o;Data Source=WIN-QO9SIABPV1Q;Database=sugdemoSitecore_Analytics"/>
</connectionStrings>
