<?xml version="1.0"?>
<configuration xmlns:xmu="urn:msbuildcommunitytasks-xmlmassupdate">
  <appSettings>
    <add xmu:key="key" key="CommonSetting" value="Common Setting"/>
  </appSettings>

  <sitecore>
    <encodeNameReplacements>
      <replace xmu:key="find" mode="on" find=" " replaceWith="-"/>
    </encodeNameReplacements>
    
    <settings>
      <setting xmu:key="name" name="InvalidItemNameChars" value="\/:?&quot;&lt;&gt;|[]-"/>
    </settings>

    <linkManager defaultProvider="sitecore">
      <providers>
        <add xmu:key="name" name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="never" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>