<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=-0o-0o-0o;Data Source=WIN-QO9SIABPV1Q;Database=sugdemoSitecore_Core"/>
  <add name="master" connectionString="user id=sa;password=-0o-0o-0o;Data Source=WIN-QO9SIABPV1Q;Database=sugdemoSitecore_Master"/>
  <add name="web" connectionString="user id=sa;password=-0o-0o-0o;Data Source=WIN-QO9SIABPV1Q;Database=sugdemoSitecore_Web"/>
</connectionStrings>
